@import url(/css/base/fonts.css);
:root{ 
    --black: #000; 
    --white: #fff; 

    --sans: "Open Sans", sans-serif; 
    --roboto: "Roboto", sans-serif; 
    --teko: "Teko", "Roboto", sans-serif; 
    --fira: "Fira Code", monospace;
}